<h1>List page for task</h1>

<% if @list.tasks().any?()%>

  <% @list.tasks().each do |task| %>
  <ul>
    <li> <%= task.description() %> </li>
  </ul>
  <% end %>


<% else %>

  <p>There are no tasks on this list!</p>

<% end %>

<form action="/tasks" method="post">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">
  <label for="description">Add your task</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add it!!</button>
</form>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
